@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
}
header, nav{
  z-index: 10001 !important;
}
.subtitle{
  @apply text-orange uppercase tracking-wide font-semibold text-lg;
}

.title{
  @apply  text-5xl md:text-4xl md:leading-snug font-bold my-2;
}
.section-container{
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4
}
.heartStar{
  border-radius: 0px 28px 0px 28px;
}